CLIENT_ID="iam-da-client"
CLIENT_SECRET='dis-b-mah-secret'
REDIRECT_URI='http://localhost:5000/callback'
SCOPES="openid profile email accounting.settings accounting.reports.read accounting.journals.read accounting.contacts accounting.attachments accounting.transactions assets assets.read projects projects.read offline_access"