<h1>Projects</h1>
<%= render partial: "elements", locals: { elements: [@projects] } %>
<h1>Task(s)</h1>
<%= render partial: "elements", locals: { elements: [@tasks] } %>
<h1>Time Entries</h1>
<%= render partial: "elements", locals: { elements: [@times] } %>
<h1>User(s)</h1>
<%= render partial: "elements", locals: { elements: [@users] } %>