<h1>Repeating Invoice to Update</h1>
<%= render partial: "elements", locals: { elements: [@invoice] } %>

<h1>Repeating Invoices Created/Updated</h1>
<%= render partial: "elements", locals: { elements: [@invoices] } %>




