<h3>Showing reports unique to some orgs such as BAS (AUS), or GST(NZ)</h3>
<%= render partial: "elements", locals: { elements: @reports } %>
<hr>
<%= render partial: "elements", locals: { elements: @report } %>
