<!-- PROJECTS BUTTON -->
<a id="projects_menu" href="#projects" data-toggle="collapse" aria-expanded="false" class="list-group-item list-group-item-action flex-column align-items-start">
  <div class="d-flex w-100 justify-content-start align-items-center">
    <span class="menu-collapsed">Projects</span>
  </div>
</a>
<!-- PROJECTS SUBMENU -->
<div id="projects" data-parent="#sidebar-container" class="collapse sidebar-submenu">
  <a href="#project" data-toggle="collapse" aria-expanded="false" class="list-group-item list-group-item-action flex-column align-items-start">
    <!-- PROJECTS -->
    <div class="d-flex w-100 justify-content-start align-items-center">
      <span class="menu-collapsed">Projects</span>
    </div>
  </a>
  <div id="project" class="collapse sidebar-submenu" data-parent="#projects">
    <a id="projects_project_read_all" href="/projects" class="list-group-item list-group-item-action bg-dark text-white">
    <span class="menu-collapsed">Get (all)</span>
    </a>
  </div>
</div>
